{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% if not form.is_valid %}
            <h1 class="my_title text-center pt-4 pb-3">Create a new account</h1>
            <div class="row justify-content-md-center">  
                <div id="signinDetails" class="col-md-8 bg-light p-5">
                    <div>
                        <h3 class="my_title">Enter the following information to create a new account.</h3>
                        <form method="post">
                            {% csrf_token %}
                            <p>{{ form | crispy }}</p>
                            <button type="submit" class="btn btn-success">Register Account</button>
                        </form>
                    </div>
                </div>
            </div>  
    {% else %}
        <div class="mx-auto">
            <br>
            <h1 class="my_title text-center">Your account has been successfully created</h1>
            <br>
            <div>
                <p>
                    Dear User,
                    <br>
                    <br>
                    Your account has been created and it is ready to use.
                    <br>
                    <a href="{% url 'main:home' %}">Home</a>
                    <a href="{% url 'accounts:signin' %}">Signin</a>
                </p>
            </div>
        </div>

    {% endif %}
</div>
<br>
{% endblock %}