{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1 class="my_title text-center pt-4 pb-5">Login to your account</h1>
    <div class="row justify-content-md-center">  
        <div id="signinDetails" class="col-md-8 bg-light p-5">
            <div>
                <h2 class="my_title">Registered Customers Only</h2>
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form | crispy }}</p>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>  
</div>

{% endblock %}