{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row pt-4">
        <div id="" class="col-md-6">
            <h1 class="pb-2 pl-2">Your Alltime Top Artists</h1>
            {% for artist in artists %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="row text-md-center">
            {% endif %}
            <div class="col-md-6">
                <img id="spotifystatsimg" src="{{artist.1}}">
                <h3><a href="{{artist.2}}">{{forloop.counter}}. {{artist.0}}</a></h3> 
            </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div id=""  style="border-left:1px solid #dadada;height:90%"class="col-md-6">
            <h1 class="pb-2 pl-2">Your Alltime Top Tracks</h1>
            {% for track in tracks %}
                <div class="row">
                    <div class="col-md-3 text-md-right">
                        <img id="spotifystatsimg" src="{{track.1}}">
                    </div>
                    <div class="col-md-9 my-auto">
                        <h3><a href="{% url 'main:songdetail' song_id=track.3 %}">{{forloop.counter}}. {{track.0}}</a></h3> 

                    </div>
                </div>
           
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
