{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="postContainer" class="container">
    <div class="row">
        <div class="col-md">
            <h1 id="posttitle">{{post.title}}</h1>
            <img id="imageprofile" src="{{ post.user.userprofile.profile_picture.url }}">
            <p><a href="{% url 'accounts:profile' post.user %}">{{post.user}}</a></p>
            <p>{{post.body |linebreaksbr}}</p>
        </div>
    </div>

 
   
</div>

{% endblock %}