
/* body{
    max-width: auto;
    word-wrap: break-word;
} */

tr a:hover {
    text-decoration: none;
    color: blue;
  }

.row a:hover{
    text-decoration: none;
    color: blue;
}
/* Home Page */
#imageprofile{
    max-width: 40px;
    max-height: 40px;
}

#songDiv{
    border-style: solid;
    border-color: rgba(211, 211, 211, 0.456);
    border-radius: 10px;
}

#description {
    padding-left: 20%;
}
/* 
#topGlobal{
    border: solid;
    float: left;
}

#topSpain {
    border:solid;
}

#numbering { 
    padding-top: 5px;
    padding-right: 10px;
}
 */


/* SongDetail Page */
#trackImg{
    width: 50px;
    height: 50px;    
}

#links{
    margin-top: -60px;
    padding-bottom: 50px;

}
#imgcontainer {
    position: relative;
    width: 50%;
    display: inline-block;
    
  }
  
  /* Make the image responsive */
  #imgcontainer img {
    width: 100%;
    height: auto;
    
  }
  
  /* Style the button and place it in the middle of the container/image */
  #imgcontainer #play-pause-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #c0bdbdee;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #imgcontainer .btn:hover {
    background-color: transparent;
  }

#volume-slider{
    width: 50%;
    touch-action: none;
}


#trackDetailImg{
    width: 200px;
    height: 200px;
    
}

#trackDetailInfo li{
    list-style-type: none
}


.modal-title{
    color: black;
}


#editButton, #deleteButton{
    padding: 0px;
    padding-right: 5px;
    padding-left: 0px;
    margin: 0px;
    border: 0;
    background-color: none;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
}

#commentreply {
    padding-left: 20px;
}

.dislikecount, .likecount{
    padding-top: 3px;
}

.liked {
    color:red;
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
  }
  
  .play-button:hover {
    cursor: pointer;
  }

#rating_count{
   
    margin-left: -20px;
}

#avg_rating{
    margin-bottom: -5px;
}

#staricon{
    margin-top: 10px;
    color: gold;
    
    
}
#add_review{
    padding-left: 0px;
}

#artist{
    padding-left: 10px;
}

#number:active{
    color: #000;
}

#ratingbtn{
    padding: 0px;
    padding-right: 20px;
    padding-left: 20px;

    margin: 0px;
    margin-left: 50px;
    border:0;
    border-color: #00000034;
    
    height: 90%;
    line-height: 25px;
    
    color: black;
}

#ratingbtn:focus{
    outline: none;
    box-shadow: none;
}

#ratingbtn:hover{
    background-color: rgba(128, 128, 128, 0.316);
}

/* Profile Page*/
#bioImage {
    max-width: 100px;
    max-height: 100px;
}

/* Signin */
#signinDetails{
    border-radius: 20px;
}

/* User Stats*/
#spotifystatsimg{
    max-width: 80px;
    max-height: 80px;
}

/*Trending songs */


/* Forum Topics */
#category_description{
    display: list-item;
    clear: right;
}

#post-table {
    max-width: 80%;
}

#postopic{
    margin-left: 55px;
}

#forum-category{
    padding-left: 130px;
}

#timeposted{
    font-size: x-small;
    padding-top: 16px;
}

#deleteTopic, #editTopic{
    padding: 0px;
    padding-right:0px;
    padding-left: 0px;
    margin: 0px;
    border: 0;
    background-color: none;
    text-decoration: none;
}


td {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


/* Post */
#postimageprofile{
    max-width: 50px;
    max-height: 50px;
}



/* Rating stats */
.chartBox{
    width: 700px;
}

#songratingimg{
    max-width: 100px;
}

#songratinginfo{
    padding-left: 210px;
}


@media (max-width: 1200px){
    /* Forum Topics */
    #forum-category{
        padding-left: 120px;
    }

    #add_review{
        padding-left: 5px;
    }

    /* Rating stats */
    #songratinginfo{
        padding-left: 120px;
    }
}


@media (max-width: 1024px) {
    /* Forum Topics */
    #forum-category{
        padding-left: 80px;
    }

    #timeposted{
        font-size: x-small; 
        padding-top: 5px;
    }

    /* Rating stats */
    #songratinginfo{
        padding-left: 30px;
    }

}


@media (max-width: 768px) {
    /* Forum Topics */
    #forum-category{
        padding-left: 5px;

    }

    #timeposted{
        font-size: x-small;
        padding-top: 5px;
    }

    #postopic{
        margin-left: 20px;
    }

    td {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      #add_review{
        padding-left: 20px;
    }

    /* Rating stats */
    #songratinginfo{
        padding-left: 30px;
    }


}