
#imageprofile{
    max-width: 50px;
    max-height: 50px;
}

#songDiv{
    border-style: solid;
    border-color: rgba(211, 211, 211, 0.456);
    border-radius: 10px;
}
/* 
#topGlobal{
    border: solid;
    float: left;
}

#topSpain {
    border:solid;
}

#numbering { 
    padding-top: 5px;
    padding-right: 10px;
}
 */
#trackImg{
    width: 40px;
    height: 40px;    
}


#trackDetailImg{
    width: 200px;
    height: 200px;
}

.modal-title{
    color: black;
}


#editButton, #deleteButton {
    padding: 0px;
    padding-right: 5px;
    padding-left: 0px;
    margin: 0px;
    border: 0;
    background-color: none;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
}

#commentreply {
    padding-left: 20px;
}

.dislikecount, .likecount{
    padding-top: 3px;
}