
#imageprofile{
max-width: 50px;
max-height: 50px;
}

#topGlobal{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#numbering { 
    padding-top: 5px;
    padding-right: 10px;
}

#trackImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
}


#trackInfo {
    flex: 1;
    margin-top: 10px;
  }

#trackDetailImg{
    width: 200px;
    height: 200px;
}

.modal-title{
    color: black;
}


#editButton, #deleteButton {
    padding: 0px;
    padding-right: 5px;
    padding-left: 0px;
    margin: 0px;
    border: 0;
    background-color: none;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
}


