{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% for track in topsongs %}
<div id="topGlobal">
    <h3 id="numbering">{{ forloop.counter }}</h3>
    <img id="trackImg" src="{{ track.track.album.images.2.url }}" alt="{{track.track.name}}">
    <div id="trackInfo">
        <a href="{% url 'main:songdetail' song_id=track.track.id %}">
            <p>{{ track.track.name }} by {{ track.track.artists.0.name }}</p>
        </a>
        
    </div>
    
</div>

{% endfor %}
{% endblock %} 