{% load static %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eaeaea;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="pt-2 navbar-brand" href="{% url 'main:home' %}">
        <img src="{% static '\images\DALL·E 2023-04-06 12.51.07 - Create a copytright free logo using this website name_ Spot-a-Song. Use grayscale colors with greenscale (1).png' %}" width="100" height="100" alt="">
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:new_releases' %}">New Releases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:trendingSongs' %}">Trending Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:spotify_authorize' %}">Your Spotify Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'forum:forumtopics' %}">Forum</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <div class="dropdown justify-content-right">
        
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
          <img class="rounded-circle" id="imageprofile" src="{{ user.userprofile.profile_picture.url }}"></a>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'accounts:profile' profile_name=user.username %}">Profile</a>
          
          <a class="dropdown-item" href="{% url 'accounts:signout' %}">Sign Out <i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
      {% else %}
      <div class="justify-content-right">
        <a href="{% url 'accounts:signin' %}">SignIn</a>
        |
        <a href="{% url 'accounts:signup' %}">SignUp</a>
      </div>
      {% endif %}
    </div>
 </nav>
</div>
