{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form id="my-form" method="GET">
        <select class="ml-2" id="country-select" name="country">
          <option default selected value="global">The World</option>
          {% for country in countries %}
          <option value="{{ country.0 }}">{{ country.1 }}</option>
          {% endfor %}
        </select>  
        <select id="genra-select" class="ml-2" name="genre">
          <option selected>None</option>
          {% for genre in genres %}
          <option value="{{ genre }}">{{ genre }}</option>
          {% endfor %}
        </select>  
        <button id="submit-button" type="submit" onclick="submitFormData(event)">Show</button>
    </form>
    <div class="col-md-6 pt-4"> 
        <div id="results">
            {% for track in tracks %}
            <div class="row pb-3">
                <div class="col-md-3">
                    <img id="trackImg" src="{{ track.image }}" alt="{{track.name}}">
                </div>
                <div id="trackInfo" class="col-md my-auto">
                    <a href="{% url track.url track.id %}{% if track.albumimage %}?album_image={{ track.albumimage }}&album_name={{ track.albumname }}{% endif %}">
                    {{ track.name }} by {{ track.artist }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function submitFormData(event) {
      event.preventDefault(); // prevent default form submission behavior
      var formData = $('#my-form').serialize(); // serialize form data
      $.ajax({
        type: 'GET',
        url: '/getNewReleases/',
        data: formData,
        success: function(response) {
            var tracks = response.tracks;
            var results = '';
          // handle successful response
            for (var i = 0; i < tracks.length; i++) {
                var track = tracks[i];
                // Generate HTML for the track name, artist name, and cover image
                var trackHtml = '<div class="row track pb-3">';
                trackHtml += '<div class=col-lg-3>'
                trackHtml += '<img id="trackImg" src="' + track.image + '" alt="' + track.name + '">';
                trackHtml += '</div>'
                trackHtml += '<div class="col-md track-details my-auto">';
                trackHtml += '<a href="' + track.url + '">' +track.id + track.name + ' by ' + track.artist + '</a>';

                trackHtml += '</div>';
                trackHtml += '</div>';
                results += trackHtml;
            }
            $('#results').html(results);
        },
        error: function(response) {
          // handle error response
        }
      });
    }
  </script>
{% endblock %} 