{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
    <div id="track detail" class="row">
        <div class="col-sm-5 text-lg-right">
            <img id="trackDetailImg" src="{{ songinfo.album.images.1.url }}" alt="{{ songinfo.name }}">
        </div>
        <div class="col-sm-5">
            <div id="trackDetailInfo">
                <h1>{{songinfo.name}}</h1>
                <p>By {{songinfo.artists.0.name}}</p>
                <li>Popularity {{songinfo.popularity}}/100</li>
                <li>Released: {{songinfo.album.release_date}}</li>
            </div>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
<form method="post">
   
        {{form | crispy}}
        {% csrf_token %}
        <button type="submit" name="addComment" class="btn btn-success">Add Comment</button>
</form>
{% else %}
<h2 >Login or Signup to add comment...</h2>

{% endif %}


<h3 class="pt-2">Comment(s): {{comment_count}}</h3>
{% for comment in comments %}
    <div class="comment">
        <img id="imageprofile" src="{{ comment.user.userprofile.profile_picture.url }}"></a>
        <div class="row">
            <div class="col-sm-1">
                <h5>{{comment.user}}</h5>
                <h5>{{comment.id}}</h5>
            </div>
        {% if comment.user == request.user %}
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editComment{{comment.id}}" onclick="populateEditForm('{{comment.id}}', '{{comment.text}}')">
                    Edit
                </button>
                <div class="modal fade" id="editComment{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="editCommentLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editCommentLabel">Edit Comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="edit-form-{{comment.id}}" method="POST" action="{% url 'main:songdetail' song_id=songinfo.id %}" id="editCommentForm{{comment.id}}">
                                    {% csrf_token %}
                                    {{ editform| crispy }}
                                    <input type="hidden" name="editComment" value="{{ comment.id }}">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" form="editCommentForm{{comment.id}}" onclick="event.preventDefault(); document.getElementById('edit-form-{{comment.id}}').submit();">Save</button>

                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteComment">
                    Delete
                </button>
                <div class="modal fade" id="deleteComment" tabindex="-1" role="dialog" aria-labelledby="deleteCommentLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteCommentLabel">Are you sure you want to delete your comment?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form method="POST" action="{% url 'main:songdetail' song_id=songinfo.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="deleteComment" value="{{ comment.id }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
        {% endif %}
        <p>{{ comment.text }}</p>
        <small>Posted on {{ comment.created_at }}</small>
    </div>
    <hr>
    
{% endfor %}

<script>
function populateEditForm(commentId, commentText) {
    var editForm = document.getElementById("edit-form-" + commentId);
    var commentInput = editForm.querySelector("textarea[name='text']");
    commentInput.value = commentText;
}
</script>
{% endblock %}